h1{
    text-align: left;
    text-decoration: solid;
    color:rgb(255, 0, 0);
}
h2{
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    color: rgb(252, 254, 255);
}   
h3{
    text-decoration: double;
    text-decoration-color: greenyellow;
    color: green;
}